
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
   <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>大陽寺予約フォーム</title>
</head>

<body>
  <header>
    <a class="a-top" href="/users">
      <h1>大陽寺</h1>
    </a>
    <h2>ご予約フォーム</h2>
    <div class="step_flow">
      <ul>
        <li class="li-step1">
          <div>STEP1</div>
          <div>日時を選ぶ</div>
        </li>
        <li class="li-step2">
          <div>STEP2</div>
          <div>お客様情報の入力</div>
        </li>
        <li class="li-step3">
          <div>STEP3</div>
          <div>ご予約内容の確認</div>
        </li>
      </ul>
    </div>
  </header>
 </body>
 