<%= render partial: "user" %>

<main>
<section class="form-box">
  <h3>
    <span class="num">
      <span class="num_st">STEP</span>
      <span class="num_nm">1</span>
    </span>
    日時を選択
  </h3>
  
<%= form_for @user, url: step2_users_path, method: :post do |f| %>

  <div class="user-input-book_date">  
    <label>ご希望の日時</label>
    <span class="required">必須</span>
    <section class="form-box">
      <div class="book_date-select">
        <%= f.date_field :book_date %>
      </div>
    </section>
  </div>
</section>
</main>

<section class="form-info">
  <%= f.submit '次へ', :class => 'next-button'%>
</section>
<% end %>